h1,
body,
p {
  margin: 0;
  border: 0;
}

.join_01 {
  text-align: center;
  margin: 20px 0;
}

.main_cont {
  width: 400px;
  margin: 40px auto;
}
.join_p {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

[type="text"],
[type="email"],
[type="password"] {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.label-width {
  display: inline-block;
  width: 90px;
}

.chk_01 {
  display: block;
}

.chk_02 {
  display: inline-block;
}
